.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(150, 117, 117, 0.515);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
}

.modal form {
    width: 412px;
}

.modal-content {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 41px 31px;
}

.modal.transaction {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.modal.transaction img {
    height: 400px;
    width: 444px;
    object-fit: cover;
}

.modal.transaction .transaction-list {
    padding: 5px;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
}

.modal.transaction .cart-img img {
    height: 80px;
    width: 80px;
}

.modal.transaction .tooltip img {
    height: 40px;
    width: 40px;
}

.modal.transaction h2 {
    text-align: center;
    padding: 2px;
}

.otw {
    color: #00d1ff;
    background-color: rgba(0, 209, 255, 0.1);
}

.approve {
    color: #00d1ff;
    background-color: rgba(0, 209, 255, 0.1);
}

.modal.transaction .transaction-container {
    display: inline-grid;
    width: 444px;
}

.transaction-container .row {
    grid-gap: 0;
}

.transaction-container .row.tabcontent {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.transaction-container .row.tabcontent .tab {
    margin-bottom: 0;
    border-radius: 0;
    color: #bd0707;
    text-align: center;
    justify-content: center;
}

.transaction-container .row.tabcontent .tab:hover {
    color: white;
}

.transaction-container .row.tabcontent .tab.active {
    color: white;
    background-color: #bd0707;
}

.transaction-container button {
    font-size: 20pt;
    padding: 10px;
    background: none;
    border: none;
}

.transaction-container button.approve {
    color: #058405;
    background-color: #b5fcb5;
}

.transaction-container button.cancel {
    color: #bd0707;
    background-color: #fa6b6b;
}

.transaction-container button.send {
    color: #a481d3;
    background-color: #effc76;
}

.transaction-container button:hover {
    background-color: #bd0707;
    color: white;
}

.modal.transaction .transaction-detail {
    padding: 10px;
    background-color: white;
}

.transaction-detail .row {
    margin: 10px;
}

.transaction-detail li {
    margin: 2px 0;
}

.modal-content h2 {
    text-transform: capitalize;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 29px;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #bd0707;
}

.modal-content p {
    margin-top: 20px;
}

.success {
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #469f74 !important;
}

.alert {
    padding: 10px;
    background-color: #ac1c12;
    color: #fff6f6;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
}

.error {
    padding: 10px;
    color: #f44336;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
}
