nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav ul li {
    position: relative;
    list-style: none;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li > .dropdown {
    position: absolute;
    z-index: 2;
    display: block;
    width: 295px;
    right: 10px;
    top: 70px;
}

nav ul li .btn {
    width: 100px;
}

.nav-icon {
    cursor: pointer;
    height: 76.84px;
    width: 76.84px;
}

.cart {
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: url('../../assets/cart.svg') no-repeat center;
}

.cart-number {
    height: 20px;
    width: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
    border-radius: 50%;
    position: relative;
    top: 0.9em;
    left: 35px;
    background-color: #f13f3f;
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.user-pic {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #bd0707;
    box-sizing: border-box;
    object-fit: cover;
    cursor: pointer;
}

.dropdown {
    display: block;
    width: 295px;
}

.dropdown ul {
    display: block;
    background: #ffffff;
    border-radius: 10px;
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
}

.dropdown ul:first-child,
.dropdown ul:last-child {
    padding: 10px 0;
}

.dropdown ul::before {
    position: absolute;
    right: 0;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
}

.dropdown ul li {
    padding: 10px 0;
    margin-left: 0;
}

.dropdown ul li {
    cursor: pointer;
    width: 100%;
    margin-left: 0;
    padding: 1em;
    font-size: 24px;
    line-height: 33px;
    vertical-align: middle;
    justify-content: left;
    display: inline-flex;
    text-align: left;
    position: relative;
}

.dropdown ul li a {
    vertical-align: middle;
    justify-content: left;
    display: inline-flex;
    text-align: left;
}

.dropdown ul li:hover {
    background-color: #a8a8a8;
    color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(212, 0, 0, 0.4);
    background-color: #f7dada;
}

.dropdown hr {
    border: 1px solid #a8a8a8;
    margin: 0;
}

.dropdown-icon {
    height: 40px;
    width: 30px;
    margin-right: 5px;
    object-fit: contain;
}

.dropdown span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */

    color: #000000;
}
