/* className */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
}

/* button */

.btn {
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    padding: 9px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #bd0707;
    border: 2px solid #bd0707;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #bd0707;
}

/* button action */

.btn:hover {
    box-shadow: 0 14px 26px -12px rgba(221, 27, 37, 0.39), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(176, 39, 39, 0.2);
}

.btn:active {
    box-shadow: 0 7px 16px -52px rgba(221, 27, 37, 0.39), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(176, 39, 39, 0.2);
}

/* input */

.form-control {
    padding: 10px;
    background: rgba(224, 200, 200, 0.25);
    border: 2px solid #bd0707;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(104, 50, 50, 0.5);
}

.form-control:focus {
    color: #bd0707;
    border: 2px solid #f7dada;
    background-color: #f7dada;
    box-shadow: 0 14px 26px -12px rgba(221, 27, 37, 0.39), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(176, 39, 39, 0.2);
}

/* width */

.w-100 {
    width: 100%;
}

/* typography */
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 5px;
    color: #bd0707;
    font-weight: 400;
}

.thin {
    font-weight: 300;
}

.normal {
    font-weight: 400 !important;
}

.bold {
    font-weight: 700 !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.capitalize {
    text-transform: capitalize;
}

.align-right {
    text-align: right;
}

/* utilities */
.mr-1 {
    margin-right: 0.25rem !important;
}

.hidden {
    display: none !important;
}

.lottie-container {
    display: flex;
    justify-content: center;
    height: 50vh;
}

lottie-player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #bd0707;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* info */

.otw {
    color: #171717;
    background-color: #d4d4d4;
}

.approve {
    color: #0b3d91;
    background-color: #d0e0fc;
}

.cancel {
    color: #fed6dd;
    background-color: #951d32;
}

.waiting {
    color: #640;
    background-color: #fec;
}

.receive {
    background-color: #1abe5c;
    color: #fff;
}
