@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    outline: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
    margin: 0 10px;
    padding: 10px 66px;
    padding-bottom: 10px;
    height: 100%;
    display: block;
    align-self: middle;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid #974a4a;
    margin: 13px 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}
