.user-detail {
    margin-right: 26px;
}

.user-detail h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #bd0707;
    margin-bottom: 26px;
}

.user-detail h4 {
    font-size: 18px;
    line-height: 25px;
    color: #613d2b;
}

.transactions h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #613d2b;
    margin-bottom: 26px;
}

.user-image {
    width: 180px;
    height: 221.79px;
    object-fit: cover;
    border-radius: 5px;
    background-color: gray;
    margin-right: 26px;
}

.transactions > div {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}

.transaction-card {
    background: #f7dada;
    border-radius: 10px;
    padding: 14px 28px 25px 28px;
    width: 100%;
    color: #bd0707;
    margin-bottom: 26px;
}

.transaction-card .status {
    width: 112px;
    justify-content: center;
    text-align: center;
}

.transaction-card .status .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
}

.transaction-card .status .qr {
    width: 74px;
    height: 74px;
    margin-bottom: 10px;
}

.transaction-card .status button {
    border-radius: 2px;
    padding: 3px;
    margin-bottom: 12px;
    font-size: 10px;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    background-color: #16b5ea;
    border-radius: 5px;
}

.transaction-card .status p {
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 12px;
    font-size: 10px;
    align-items: center;
    text-align: center;
}

.transaction-card .status h5 {
    font-weight: 700;
}

.transaction-card > .col {
    max-height: 236px;
    overflow: hidden;
    overflow-y: auto;
}

.transaction-card .col li {
    text-align: start;
}
